@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
body, h1, h2, h3, p, a, li, ul {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* code main */
body {
    background-color: #f2f1ef;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-y: scroll;
}

.wrapper {
    width: 800px;
    margin: 50px auto 0;
}

.header {
    text-align: right;
}

.header a {
    font-size: 12pt;
    color: white;
    padding: 0.3em 0.5em;
    margin: 0.3em 0;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.header a:hover {
    background-color: darkcyan;
}

.contents {
    padding: 10px 20px;
    border: 8px solid black;
}

.contents h1 {
    font-size: 45pt;
    margin-bottom: 50px;
}

.contents .point {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 0 3px;
}

.contents .point:hover {
    background-color: darkcyan;
}

.contents p {
    font-size: 12pt;
    padding-bottom: 10px;
}

.footer {
    position: relative;
    padding: 5px;
}

.footer p {
    font-size: 9pt;
    color: darkgray;
    font-weight: 100;
}

.footer .copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* code work */
.contents .guide {
    font-size: 10pt;
    color: darkgray;
    margin-bottom: 30px;
}

.contents .category {
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
}

.contents .category .item {
    margin-bottom: 30px;
}

.contents .category .item-last {
    margin-bottom: 10px;
}

.contents .category .work-img img {
    height: 140px;
    width: 110px;
    float: left;
    margin: 5px 20px 0 0;
    overflow: hidden;
}

.contents .top.work {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 0 3px;
}

.contents .top.work:hover {
    background-color: darkcyan;
}

.contents .short {
    font-size: 11pt;
    margin: 5px 0;
}

.contents .short a {
    text-decoration: underline;
}

.contents .long {
    width: auto;
    background-color: #e0e0e0;
    word-break: break-all;
    font-size: 10pt;
    padding: 5px;
    overflow: hidden;
}

.contents .long .article {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.5em;
}

.contents .long .article a:hover {
    text-decoration: underline;   
}
    
/* code profile */
.contents {
    position: relative;
}

.contents .myphoto {
    width: 150px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.contents h2 {
    font-size: 20pt;
    margin: 20px 0 10px;
}

.contents h2 span {
    padding-left: 5px;
    font-size: 10pt;
    color: darkgray;
}

.contents h3 {
    font-size: 14pt;
    margin: 10px 0 10px;
    padding-left: 5px;
    border-left: 3px solid black;
    line-height: 0.9em;
}

.contents h3:hover {
    border-left: 3px solid darkcyan;
    color: darkcyan;
}

.contents .detail {
    margin: 0 30px 30px;
}

.contents .top {
    margin-top: 5px;
}

.contents .top,.sub {
    display: inline-block;
}

.contents li span {
    font-size: 0.9em;
    vertical-align: text-top;
}

.contents .term {
    font-size: 0.75em;
}

.contents .point.exp {
    margin: 5px 10px 5px;
}

.contents .keyword {
    padding: 0 10px;
    margin-bottom: 10px;
}

.contents .keyword li {
    color: white;
    background-color: black;
    padding: 0px 3px;
    margin-bottom: 5px;
    display: inline-block;
}

.contents .keyword li:hover {
    background-color: darkcyan;
}